*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

a{
  text-decoration: none;
color: white;
}

::-webkit-scrollbar{
    width: 10px;
  }
  ::-webkit-scrollbar-track{
    background: linear-gradient(180deg, #1E1D57 0%, #5D3B9C 100%), linear-gradient(180deg, #1E1D57 0%, #5D3B9C 100%), linear-gradient(180deg, #1E1D57 0%, #5D3B9C 100%);
  }
  ::-webkit-scrollbar-thumb{
    background: linear-gradient(180deg, #5d3b9c 0%, #1e1d57 100%);
    border-radius: 25px;
  }
  ::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(180deg, #1E1D57 0%, #5D3B9C 100%);
  }